[workspace]
default-members = ["kubectl-client"]
members = [
    "kubectl-client",
    "kubectl-telemetry",
]
resolver = "2"

[profile.release]
opt-level = "s"
lto = "fat"
strip = "symbols"
codegen-units = 1
panic = "unwind"
overflow-checks = false
debug = false
incremental = false
